<div class='toolbar' layout='row' flex>
  <div layout='column'>
    <div class='headline' [innerHTML]='homeView.toolbar.headline'></div>
    <div class='subhead' [innerHTML]='homeView.toolbar.subhead'></div>
  </div>
  <div layout='row' layout-align='end center' flex>
    <button mat-raised-button type='button' color='accent' routerLink='../'>
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
    <div [@fadeInOut] *hasPermission="['root', 'root.access-manager', 'root.access-manager.users', 'root.access-manager.users.update', 'root.access-manager.users.update.change-password']; operation 'OR'">
      <button *ngIf='!user?.internal' color='primary' class='ml-25' mat-raised-button (click)='updatePassword()'>
        <mat-icon>vpn_key</mat-icon>
        <span>Alterar senha</span>
      </button>
    </div>
    <div [@fadeInOut] *hasPermission="['root', 'root.access-manager', 'root.access-manager.users', 'root.access-manager.users.update', 'root.access-manager.users.update.activate']; operation 'OR'">
      <button mat-raised-button type='button' *ngIf='!itsMe' (click)='updateEnabled(user.id)' class='ml-25'
              [ngClass]="{'activate': !user.enabled, 'inactivate': user.enabled}">
        <mat-icon>{{ !user.enabled ? 'check' : 'block' }}</mat-icon>
        <span>{{ !user.enabled ? 'Ativar' : 'Inativar' }}</span>
      </button>
    </div>
    <a color='primary' routerLink='edit' class='ml-25' mat-raised-button type='button'
       [@fadeInOut] *hasPermission="['root', 'root.access-manager', 'root.access-manager.users', 'root.access-manager.users.update']; operation 'OR'">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </a>
  </div>
</div>
<mat-card id='default-form'>
  <div layout='row' layout-sm='column' layout-xs='column'>
    <div layout='column' flex>
      <label class='title'>Nome:</label>
      <label class='text'>{{ user.name }}</label>
    </div>
    <horizontal-space></horizontal-space>
    <div layout='column' flex>
      <label class='title'>Nome de Usuário:</label>
      <label class='text' *ngIf='user.username'>{{ user.username }}</label>
      <label class='text' *ngIf='!user.username'>-</label>
    </div>
    <horizontal-space></horizontal-space>
    <div layout='column' flex>
      <label class='title'>Ativo:</label>
      <label class='text'>{{ user.enabled ? 'Sim' : 'Não' }}</label>
    </div>
    <horizontal-space></horizontal-space>
    <div layout='column' flex>
      <label class='title'>Tenant:</label>
      <label class='text'>{{ user.tenant?.identification ? user.tenant?.identification : '-' }}</label>
    </div>
  </div>
  <vertical-space></vertical-space>
  <div layout='row' layout-sm='column' layout-xs='column'>
    <access-group-data-view *ngIf='user?.group?.name' [group]='user?.group' [readOnly]='true'>
      <div accessGroupLabelName layout="row" *ngIf='user?.group?.name'>
        <div layout="column" flex>
          <label class="title">Grupo de Acesso:</label>
          <label class="text">{{ user?.group?.name }}</label>
        </div>
      </div>
    </access-group-data-view>
  </div>
</mat-card>
