<list-page [gender]="'M'"
           [deletavel]='false'
           [editavel]='false'
           [desativavel]='false'
           [hasAdvancedFilter]='false'
           [columns]="columns"
           [dataSource]="dataSource"
           [headline]="'Configurações'"
           [subhead]="'Tenants'"
           (list)="listByFilters($event)"
           [totalElements]="totalElements"
           [pageSize]="pageSize"
           [pageIndex]="pageIndex"
           [rolesToAdd]="['root', 'root.access-manager', 'root.access-manager.tenants', 'root.access-manager.tenants.create']"
           [rolesToView]="['root', 'root.access-manager', 'root.access-manager.tenants', 'root.access-manager.tenants.read']"
           [rolesToEdit]="['root', 'root.access-manager', 'root.access-manager.tenants', 'root.access-manager.tenants.update']"
           [rolesToDelete]="['root', 'root.access-manager', 'root.access-manager.tenants', 'root.access-manager.tenants.delete']"
           (delete)="openDeleteDialog($event)"
           [displayedColumns]="displayedColumns">
</list-page>
