<list-page [gender]="'M'"
           [deletavel]='true'
           [desativavel]='false'
           [hasAdvancedFilter]='false'
           [columns]="columns"
           [dataSource]="dataSource"
           [headline]="'Configurações'"
           [subhead]="'Grupos de Acesso'"
           (list)="listByFilters($event)"
           [totalElements]="totalElements"
           [pageSize]="pageSize"
           [pageIndex]="pageIndex"
           [rolesToAdd]="['root', 'root.access-manager', 'root.access-manager.groups', 'root.access-manager.groups.create']"
           [rolesToView]="['root', 'root.access-manager', 'root.access-manager.groups', 'root.access-manager.groups.read']"
           [rolesToEdit]="['root', 'root.access-manager', 'root.access-manager.groups', 'root.access-manager.groups.update']"
           [rolesToDelete]="['root', 'root.access-manager', 'root.access-manager.groups', 'root.access-manager.groups.delete']"
           (delete)="openDeleteDialog($event)"
           [displayedColumns]="displayedColumns">
</list-page>
